#container{
    /* border:3px solid black; */
    display: flex;
    width:100%;
    background-color: black;
}
body{
    margin:0;
}
#navbar{
    width:40%;
    /* background-color:pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
a{
    text-decoration: none;
    margin-left: 80px;
    color:white;
}
#header{
    width:70%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
body{
    margin:0;
    background-image:url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
}
#net{
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.7);
}
.header{
    height:20%;
    display: flex;
}
#logo{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons{
    width:58%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button{
    margin-right: 30px;
    border: none;
    height:40px;
    width:80px;
    background-color:rgb(224, 13, 13);
    color:white;
    border-radius: 4px;
    font-weight:bold;
    cursor: pointer;
}
#footer{
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    

    
}
h1{
    font-weight: bold;
    font-size: 50px;
}
p{
    font-size:22px ;
    font-weight:500;
}
#but{
    width:120px;
    height:42px;
    background-color: rgb(216, 17, 17);
}
input{
    height:37px;
    width:270px;
    border:2px solid black;
    background-color:rgba(2, 2, 2, 0.378);
}